# *.sh
*.cmd
*.zip
*.ipynb
*.log
_*
!__init__.py
*tmp*
*test*
*old*

__pycache__
logs
.vscode
# .gitignore
.git
nohup.out

# ==============================

!/.gitignore
!/README.md
!/requirements.txt
!/src

# src
src/scripts
!src/model/_test_model.py
!src/data/_test_data.py
src/cp_data.sh

# data
!/data
!/data/used/conll_test.p1.csv
!/data/used/conll_blind_test.p1.csv

